In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df=pd.read_csv("C:\\Users\\adhil\\OneDrive\\Desktop\\machineworks\\seabornworks\\Mobile\\mobile battery with time.csv")

In [18]:
df.head()

,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599938843,false,37,com.zopper.batteryage,0,24.7,3741,130,none,false.1,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942514,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN
1,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942526,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN
2,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599946877,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN
3,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599947492,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN
4,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599953460,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN

In [19]:
df.isnull().sum()

352944080639365               0
samsung SM-A910F              0
8.0.0                         0
Li-ion                        0
5000.0                        0
1570599938843                 0
false                         0
37                            0
com.zopper.batteryage         0
0                             0
24.7                          0
3741                          0
130                           0
none                          0
false.1                       0
Unnamed: 15              385429
Unnamed: 16              385429
Unnamed: 17              385429
dtype: int64

In [20]:
df.dtypes

352944080639365            int64
samsung SM-A910F          object
8.0.0                     object
Li-ion                    object
5000.0                   float64
1570599938843              int64
false                       bool
37                         int64
com.zopper.batteryage     object
0                          int64
24.7                     float64
3741                       int64
130                        int64
none                      object
false.1                     bool
Unnamed: 15              float64
Unnamed: 16              float64
Unnamed: 17              float64
dtype: object

In [21]:
df = df.fillna(df.median(numeric_only=True)) 
df = df.fillna(df.mode().iloc[0])

In [22]:
df = df.drop_duplicates()

In [23]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [24]:
if "time" in df.columns:
 df["time"] = pd.to_datetime(df["time"])

In [25]:
df.head()

,352944080639365,samsung_sm-a910f,8.0.0,li-ion,5000.0,1570599938843,false,37,com.zopper.batteryage,0,24.7,3741,130,none,false.1,unnamed:_15,unnamed:_16,unnamed:_17
0,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942514,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN
1,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942526,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN
2,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599946877,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN
3,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599947492,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN
4,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599953460,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False,NaN,NaN,NaN

In [ ]:
df = df.drop(columns=['unnamed:_15', 'unnamed:_16', 'unnamed:_17'])

In [32]:
df.shape

(351459, 15)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 351459 entries, 0 to 385428
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   352944080639365        351459 non-null  int64
 1   samsung_sm-a910f       351459 non-null  object
 2   8.0.0                  351459 non-null  object
 3   li-ion                 351459 non-null  object
 4   5000.0                 351459 non-null  float64
 5   1570599938843          351459 non-null  int64
 6   false                  351459 non-null  bool
 7   37                     351459 non-null  int64
 8   com.zopper.batteryage  351459 non-null  object
 9   0                      351459 non-null  int64
 10  24.7                   351459 non-null  float64
 11  3741                   351459 non-null  int64
 12  130                    351459 non-null  int64
 13  none                   351459 non-null  object
 14  false.1                351459 non-null  bool
dtypes: bool(2), float64(2), int64(6), object(5)
memory usage: 38.2+ MB

In [35]:
df.columns

Index(['352944080639365', 'samsung_sm-a910f', '8.0.0', 'li-ion', '5000.0',
       '1570599938843', 'false', '37', 'com.zopper.batteryage', '0', '24.7',
       '3741', '130', 'none', 'false.1'],
      dtype='object')