In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("C:\\Users\\adhil\\OneDrive\\Desktop\\machineworks\\seabornworks\\Customer\\customer_data_cleaning_eda.csv")

In [ ]:
df.columns

Index(['CustomerID', 'Country', 'Age', 'Gender', 'Salary', 'Purchased',
       'SpendingScore', 'VisitsPerMonth', 'SatisfactionScore', 'JoinDate',
       'Churn'],
      dtype='object')

In [ ]:
df.isnull().sum()

CustomerID             0
Country                0
Age                   89
Gender                49
Salary                98
Purchased              0
SpendingScore          0
VisitsPerMonth         0
SatisfactionScore    145
JoinDate               0
Churn                  0
dtype: int64

In [ ]:
df.head()

,CustomerID,Country,Age,Gender,Salary,Purchased,SpendingScore,VisitsPerMonth,SatisfactionScore,JoinDate,Churn,CustomerTenure,AgeGroup
0,1,Italy,29.0,Male,60000.0,No,59,2,1.0,2019-09-15,0,7,26-35
1,2,India,61.0,Male,31000.0,Yes,5,3,5.0,2020-09-14,0,6,50+
2,3,Germany,53.0,Female,54000.0,Yes,51,1,2.0,2020-03-13,1,6,50+
3,4,India,65.0,Female,68500.0,Yes,21,7,2.0,2019-06-19,0,7,50+
4,5,India,21.0,Male,84000.0,Yes,12,5,4.0,2018-10-29,0,8,18-25

In [ ]:
df.tail()

,CustomerID,Country,Age,Gender,Salary,Purchased,SpendingScore,VisitsPerMonth,SatisfactionScore,JoinDate,Churn,CustomerTenure,AgeGroup
995,996,Spain,56.0,Female,29000.0,No,42,3,2.0,2019-10-20,0,7,50+
996,997,France,59.0,Female,105000.0,Yes,47,0,1.0,2018-06-08,0,8,50+
997,998,France,68.0,Female,36000.0,No,37,2,3.0,2020-08-13,0,6,50+
998,999,Italy,68.0,Unknown,87000.0,Yes,80,1,5.0,2022-07-19,0,4,50+
999,1000,Germany,44.0,Female,67000.0,Yes,22,1,5.0,2021-02-07,0,5,36-50

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         1020 non-null   int64
 1   Country            1020 non-null   object
 2   Age                931 non-null    float64
 3   Gender             971 non-null    object
 4   Salary             922 non-null    float64
 5   Purchased          1020 non-null   object
 6   SpendingScore      1020 non-null   int64
 7   VisitsPerMonth     1020 non-null   int64
 8   SatisfactionScore  875 non-null    float64
 9   JoinDate           1020 non-null   object
 10  Churn              1020 non-null   int64
dtypes: float64(3), int64(4), object(4)
memory usage: 87.8+ KB

In [5]:
df["Age"] = df["Age"].fillna(df["Age"].median())
df["Salary"] = df["Salary"].fillna(df["Salary"].median())
df["Gender"] = df["Gender"].fillna("Unknown")
df["SatisfactionScore"] = df["SatisfactionScore"].fillna(df['SatisfactionScore'].mode()[0])

In [6]:
df["JoinDate"] = pd.to_datetime(df["JoinDate"])

In [7]:
df["Age"] = pd.to_numeric(df["Age"])
df["Salary"] = pd.to_numeric(df["Salary"])

In [8]:
df["Purchased"] = df["Purchased"].astype("category")
df["Gender"] = df["Gender"].astype("category")

In [9]:
df.isnull().sum()

CustomerID           0
Country              0
Age                  0
Gender               0
Salary               0
Purchased            0
SpendingScore        0
VisitsPerMonth       0
SatisfactionScore    0
JoinDate             0
Churn                0
dtype: int64